@{
    ViewData["Title"] = "Libros";
    Layout = "~/Views/Shared/_Layout_Personalizada.cshtml";
    @model List<L02P02_2022MS651_2022ZR650.Models.Libros>
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="container">
    <ul class="progressbar">
        <li>Autores</li>
        <li class="active">Libros</li>
        <li >Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>

    <br /><br />

@*     <div class="container mt-5 py-3 border">
        <strong>Autor:</strong>
        <span class="text-primary">@ViewBag.NombreAutor</span>
    </div> *@

        <div class="container py-3 border">

            <strong>Autor:</strong>
            <span class="text-primary">@ViewBag.NombreAutor</span>

        <br /><br />
            
            <h6 class="text-primary">Seleccione el Libro del autor</h6>
            <div class="card">
                <ul class="list-group list-group-flush">
                    @foreach (var libro in Model)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>@libro.nombre</strong>
                                <p class="mb-0 text-muted">@libro.descripcion</p>
                            </div>
                        <a href="@Url.Action("ComentariosLibros", "Comentarios", new { idLibro = libro.id, nombreLibro = libro.nombre, nombreAutor = ViewBag.NombreAutor })" class="btn btn-success">Seleccionar</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    


</div>
<br />

