@model IEnumerable<L02P02_2022MS651_2022ZR650.Models.Comentarios_libros>

@{
    ViewData["Title"] = "Comentarios del Libro";
    Layout = "~/Views/Shared/_Layout_Personalizada.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="container">
    @if (ViewBag.ComentarioAgregado != null && ViewBag.ComentarioAgregado == true)
    {
        <ul class="progressbar">
            <li>Autores</li>
            <li>Libros</li>
            <li>Comentarios Existentes</li>
            <li class="active">Nuevo Comentario</li>
        </ul>
    }
    else
    {
        <ul class="progressbar">
            <li>Autores</li>
            <li>Libros</li>
            <li class="active">Comentarios Existentes</li>
            <li>Nuevo Comentario</li>
        </ul>
    }

    <br />

    <div class="container">
        <div class="border contenedor">
            <div class="p-2 d-flex justify-content-between">
                <div class="d-flex">
                    <h3 class="text-primary">Autor: <span class="text-dark">@ViewBag.nombreAutor</span> </h3>
                </div>
                <div class="d-flex">
                    <h3 class="text-primary">Libro: <span class="text-dark">@ViewBag.nombreLibro</span></h3>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6">
                <h2 class="text-primary">Comentarios Existentes</h2>
                <div class="card border-1 p-2">
                    <div class="card-body">
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var comentario in Model)
                            {
                                <div class="mb-2 p-2 border">
                                    <p>@comentario.comentarios</p>
                                    <strong>@comentario.usuario</strong> <br /> @comentario.created_at.ToString("dd/MM/yyyy HH:mm")
                                </div>
                            }
                        }
                        else
                        {
                            <p>No hay comentarios para este libro.</p>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h2 class="text-primary">Agregar un Comentario</h2>
                <div class="card">
                    <div class="card-body">
                        @if (ViewBag.ComentarioAgregado != null && ViewBag.ComentarioAgregado == true)
                        {
                            <div class="form-group mb-3">
                                <label for="comentario">Comentario:</label>
                                <textarea class="form-control" id="comentario" name="comentario" rows="4" required>@ViewBag.Comentario</textarea>
                            </div>

                            <div class="p-3 text-primary-emphasis bg-info border border-primary-subtle rounded-3 text-center">
                                Comentario Adicionado con éxito.
                            </div>
                        }
                        else
                        {
                            <form asp-action="AgregarComentario" asp-route-idLibro="@ViewBag.idLibro" method="post">
                                <div class="form-group mb-3">
                                    <label for="comentario">Comentario:</label>
                                    <textarea class="form-control" id="comentario" name="comentario" rows="4" required></textarea>
                                </div>

                                <input type="hidden" name="nombreAutor" value="@ViewBag.nombreAutor" />
                                <input type="hidden" name="nombreLibro" value="@ViewBag.nombreLibro" />

                                <button type="submit" class="btn btn-success">Guardar Comentario</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>